{% extends 'vbloge/base.html' %}
{% load staticfiles %}
{% block title %}Add comment{% endblock %}
{% block body %}
    {% if article %}
    <h1>
        Leave a comment below
        <a href="{% url 'show_article' article.category.slug article.slug %}">
            {{ article.title }}
        </a>
    </h1>
    {% else %}
        <h1>There's no such article</h1>
    {% endif %}
    {% if errors %}
        {{ errors }}
    {% endif %}
    {% if form %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    {% endif %}
{% endblock %}