<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Vbloge{% endblock %}</title>
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <p><a href="{% url 'index' %}">Home</a></p>
        {% if user.is_authenticated %}
            <p><a href="{% url 'profile' %}">My profile</a></p>
            <p><a href="{% url 'logout' %}">Sign out</a></p>
        {% else %}
            <p><a href="{% url 'register' %}">Sign up</a></p>
            <p><a href="{% url 'login' %}">Log in</a></p>
        {% endif %}
    </body>
</html>