{% extends 'vbloge/base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            {% if user.is_authenticated %}
                <h2>Hi, {{ user.username }}</h2>
            {% else %}
                <h2>Hi, Anonymous</h2>
            {% endif %}
            Vbloge is a lit project where you can share your opinion
        </div>
    </div>
    <div class="container"><h3>Categories</h3></div>
    <div class="container">
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            There's no category yet
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <div class="container">
            <a class="btn btn-primary" href="{% url 'add_category' %}">Add category</a>
        </div>
    {% endif %}
{% endblock %}