{% extends 'vbloge/base.html' %}
{% load staticfiles %}
{% block title %}Registration{% endblock %}
{% block body %}
    {% if registered %}
        <div class="alert alert-success">Thanks for registering</div>
    {% else %}
        {% if errors %}
            <div class="alert-danger">{{ errors }}</div>
        {% endif %}
        <h1>Registration</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit">
        </form>
    {% endif %}
{% endblock %}